:root {
	--primary-color: #11876b;
	--secondary-color: #438711;
	--dark-color: #2c3e50;
	--s-dark-color: #666;
	--light-color: #d6d6d6;
	--text-color: #fff;
	--outline: 1px solid var(--light-color);
	--transition-time: 0.3s;
	--shadow: 0 3px 8px #ccc;
}
