.container {
	width: min(1300px, 100%);
	margin-inline: auto;
	padding: 0 50px;
}
.btn {
	border: 0;
	padding: 10px 25px;
	border-radius: 3px;
	font-size: 1rem;
	cursor: pointer;
	outline: var(--outline);
	transition: color var(--transition-time) linear;
}
.card {
	width: max(300px, 100%);
	height: max(350px, 100%);
	background-color: var(--text-color);
	padding: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.special-head {
	color: var(--dark-color);
	padding: 10px;
	font-size: 2.4rem;
	text-align: center;
	margin: 20px 0;

	span {
		background-color: var(--primary-color);
		clip-path: polygon(100% 0, 93% 50%, 100% 101%, 0% 100%, 7% 50%, 0% 0%);
		padding: 0 22px;
		color: var(--text-color);
	}
}

figcaption {
	font-size: 1.3rem;
	font-weight: 700;
	color: var(--dark-color);
}
