header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--text-color);
	padding: 10px 30px;
	height: max(100px, 10vh);
	outline: var(--outline);

	.logo {
		color: var(--primary-color);
		font-size: 2.5rem;
	}
	i {
		color: var(--secondary-color);
		font-size: 1.8rem;
	}

	.nav-bar ul {
		display: flex;
		li {
			padding: 5px;
			a {
				font-size: 1.1rem;
				color: var(--dark-color);
				font-weight: 500;
				transition: color var(--transition-time) linear;
			}
			:hover {
				color: var(--primary-color);
			}
		}
	}
}
